* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    align-items: center;
    justify-content: center;
  }
  h1{
      text-align: center;
      color: rgb(83, 4, 253);
  }
  #h1{
    margin-top: 30px;
  }
  h3{
      text-align: center;
      margin-bottom: 10px;
  }
  #containerm {
    position: relative;
    max-width:600px;
    margin-top :150px ;
    margin-bottom :80px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    background:transparent;
    padding: 30px;
    border: 1px solid blue;
  }
  
  .form-label{
      padding-bottom: 0px;
      margin-bottom: 2px;
      font-weight: bold;
      color: black;
  }
  .form-check-label{
      margin-left: 20px;
      color: darkred;
  }
  .form-text{
      color: black;
  }
  
  #btnSubmit{
      font-size: 30px;
      margin-top: 50px;
  }
  
  .inputfeild span{
         color: red;
         margin-top: 5PX; 
        }
      
  
  .inputfeild span i{
        color: green;
        }