* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    align-items: center;
    justify-content: center;
    background: whitesmoke; 
  }
  h1{
      text-align: center;
      color: blue;
  }
  h3{
      text-align: center;
      margin-bottom: 10px;
  }
  #containerm {
    position: relative;
    max-width: 1400px;
    height: 1000px;
    width: 100%;
    border-radius: 8px;
    background:transparent;
    padding-top: 20px;
    border: none;
    margin-top: 150px;
    margin-bottom: 40px;
  }
  
  .form-label{
      padding-bottom: 0px;
      margin-bottom: 2px;
      font-weight: bold;
      color: black;
  }
  .form-check-label{
      margin-left: 20px;
      color: darkred;
  }
  .form-text{
      color: black;
  }
  
  #btnSubmit{
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 20px;
      padding-left: 176px;
      padding-right: 176px;
  }
  
  .inputfeild span{
         color: red;
         margin-top: 5PX; 
        }
      
  
  .inputfeild span i{
        color: green;
        }

 #outputBox{
    height:450px;
    width:600px;
 }

 #out{
    margin:100px 0 100px 0;
    height:80px;
    width:550px;
    font-size:40px;
    font-weight: bold;
 }
